@font-face {
  font-family: Roboto-R;
  src: url("../FONTS/Roboto-Regular.ttf"); }
@font-face {
  font-family: Roboto-M;
  src: url("../FONTS/Roboto-Medium.ttf"); }
@font-face {
  font-family: Roboto-B;
  src: url("../FONTS/Roboto-Bold.ttf"); }
/* COLOR */
/* FONTS */
/*----------------------------------*/
/* SCROLLBAR */
/*----------------------------------*/
::-webkit-scrollbar {
  background-color: #001E2A;
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  background-color: #26DDE9; }

/*----------------------------------*/
/* CENTER FUNCTION */
/*----------------------------------*/
/* POSITION ABSOLUTE */
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%); }

.center-w {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.center-h {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

/* FLEX */
.flex-w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.flex-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

/* MARGIN */
.mcenter {
  margin: 0 auto; }

/* FONT */
.fcenter {
  text-align: center; }

.fmiddle {
  text-align: center;
  vertical-align: middle; }

/*----------------------------------*/
/* PADDING/MARGIN */
/*----------------------------------*/
.p1 {
  padding: 10px; }

.p2 {
  padding: 10%; }

.p3 {
  padding: 20px; }

.p4 {
  padding: 20px 20% 20px 20%; }

.m1 {
  margin: 20px; }

.ml {
  margin-left: 20px; }

/*----------------------------------*/
/* SPACE */
/*----------------------------------*/
.space1 {
  height: 50px; }

.space2 {
  height: 100px; }

.space3 {
  height: 200px; }

/*----------------------------------*/
/* HEADLINES */
/*----------------------------------*/
h1 {
  font-family: Roboto-B;
  color: #FFF;
  font-size: 5vw;
  width: 100%;
  text-transform: uppercase; }

h2 {
  font-family: Roboto-M;
  color: #001E2A;
  padding-bottom: 10vh;
  font-size: 40pt;
  width: 100%;
  text-align: center; }

h3 {
  font-family: Roboto-M;
  color: #001E2A;
  font-size: 20pt;
  width: 100%;
  text-align: center;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease; }

h4 {
  font-family: Roboto-M;
  color: #26DDE9;
  font-size: 26pt;
  width: 100%;
  text-align: center;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  border-bottom: 4px solid #26DDE9; }

h5 {
  font-size: 40pt;
  color: #FFF;
  font-family: Roboto-M;
  padding-bottom: 10vh;
  width: 100%;
  text-align: center; }

/*----------------------------------*/
/* TEXT */
/*----------------------------------*/
article {
  font-family: Roboto-R;
  color: #26DDE9;
  font-size: 20pt; }

.TextBox1 {
  font-family: Roboto-R;
  font-size: 16pt;
  color: #535353;
  padding: 50px;
  width: 70%; }

.TextBox1 a {
  color: #001E2A; }

.TextBox1 b {
  font-size: 20pt;
  color: #001E2A; }

/*----------------------------------*/
/* DESIGN */
/*----------------------------------*/
.BG {
  background-color: #001E2A; }

section {
  width: 100%; }

/*----------------------------------*/
/* Animation */
/*----------------------------------*/
.FadeIn {
  -webkit-transform: scale(1);
          transform: scale(1); }

.FadeOut {
  -webkit-transform: scale(0);
          transform: scale(0); }

.none {
  display: none; }

/*# sourceMappingURL=function.css.map */