@media screen and (min-width: 1px) and (max-width: 1279px) {

    /* NAVIGATION */
    nav ul {
        z-index: 0;
        display: none;
    }

    #navbar {
        height: 70px;
    }

    .NavButton {
        background-image: url(../IMG/Icons/Seite/NAV.svg);
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        top: 10px;
        width: 40px;
        height: 40px;
        right: 0;
        padding: 10px;
        transition: background 0.5s ease;
    }

    .NavButton:hover {
        cursor: pointer;
    }

    .navleiste {
        background-color: rgba(0, 0, 0, 0.8);
        height: 100%;
        position: fixed;
        width: 100%;
        z-index: 4;
        transition: right 0.5s ease;
        display: block;

    }

    .navleiste ul {
        margin-top: 100px;
        font-family: 'roboto_medium';
        font-size: 16pt;
        list-style-type: none;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        text-align: center;

    }

    .navleiste ul li {
        background-color: rgba(0, 0, 0, 0);
        padding: 10px 0px;
        transition: all 0.5s ease;
    }

    .navleiste ul li:hover {
        background-color: #c6f52c;
        padding: 10px 40px 10px 40px;
    }

    .navleiste ul li a {
        padding: 10px 0px;
        color: #c6f52c;
        text-decoration: none;
        transition: all 0.5s ease;
    }

    .navleiste ul li a:hover {
        padding: 10px 40px 10px 40px;
        color: #3e3e3e;
    }

    /* Home Opacity */
    #HomeOpacity {
        opacity: 1;
    }

    content div #Logo {
        width: 200px;
        margin-top: 180px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

    }

    content h1 {
        font-size: 25pt;
    }

    content div article {
        font-size: 16pt;
        left: 50%;
        transform: translateX(-50%);
        right: auto;
        min-width: 100px;
        max-width: 500px;
        padding: 20;
        margin-top: 300px;
    }


    /* AboutOpacity */
    #AboutOpacity {
        opacity: 1;
    }

    #AboutUs {
        font-size: 12pt;
        min-width: 100px;
        max-width: 300px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 400px;
        height: 720px;
    }

    #UeberUns div a {
        position: absolute;
        z-index: 4;
        top: 940px;
        text-align: left;
        margin-left: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14pt;
    }

    #UeberUns div img {
        width: 200px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-left: auto;
        margin-top: 400px;
    }

    #flex-service {
        opacity: 1;
    }

    content iframe {
        margin-top: 750px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    content #Kontakt {
        left: 50%;
        transform: translateX(-75%);
        margin-top: 400px;
    }

    #Kontakt ul li {
        font-size: 13pt;
    }

    #Kontakt h2 {
        font-size: 20pt
    }


    #flex_service {
        opacity: 1;
        display: none;
    }

    #ServiceMobil {
        display: block;
    }
    
    #Leistungen{
        background-color: white;
        height: 900px;
    }

    .map {
        width: 300px;
        height: 250;
    }

    #Contact{
        margin-top: 2900px;
        height: 820px;
    }


    .Side {
        transition: filter 0.5s ease;
    }

    .basic {
        right: -100%;
    }
    .active {
        right: 0;
    }

    .blur {
        filter: blur(0px);
    }

    .navicon {
        background-image: url(../IMG/Icons/Seite/NAV-active.svg);
    }


    /* FOOTER */
    #footer_Home{
        top: 4200px;
    }
    
    .info {
        margin-left: -160px;
    }
    
    .info h1{
        font-size: 12pt;
    }
    
   .info ul li {
    font-size: 10pt;
}
    
    .social_box a img{
        width: 60px;
    }
    
    .social_box a:hover img{
        width: 65px;
    }
    
    .LogoBWS {
        margin-left: 400px;
        width: 150px;
        height: 150px;
    }
    
    

}